@font-face {
    font-family: 'ArialNarrow';
    src: url('../fonts/ArialNarrow.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ArialNarrow.woff') format('woff'),
    url('../fonts/ArialNarrow.ttf')  format('truetype'),
    url('../fonts/ArialNarrow.svg#ArialNarrow') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    font-family: 'ArialNarrow';
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e7efee+0,ffffff+35 */
    background: #e7efee; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZWZlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #e7efee 0%, #ffffff 35%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7efee), color-stop(35%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e7efee 0%,#ffffff 35%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e7efee 0%,#ffffff 35%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e7efee 0%,#ffffff 35%); /* IE10+ */
    background: linear-gradient(to bottom,  #e7efee 0%,#ffffff 35%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7efee', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

.container{
    max-width: 970px!important;
}
/*
.navbar-brand img{
    width: 90%;
}

#navbar{}

#navbar li{
    text-align: center;
    height: 124px;
    margin: 0 5px;
    padding-top: 5px;
}
#navbar li.yello{
    background-color: #FEAC1A;
}
#navbar li.cyan{
    background-color: #10CCA6;
}
#navbar li.blue{
    background-color: #02B8E0;
}
#navbar li img{
    margin-bottom: 10px;
}
#navbar li span{
    display: block;
}
*/

.logo{
    height: 210px;
    border-bottom: 14px solid red;
}
.navigation{
    height: 210px;
    border-bottom: 14px solid #000;
}
.logo h1{
    text-align: center;
    margin: 0;
    padding-top: 17%;
}
.logo img{
    width: 100%;
    max-width: 400px;
    height: auto;
}
#navigation{
    padding: 0;
    margin-right: -15px;
}
.nav > li{
    width: 31.2111%;
    text-align: center;
    margin: 0 3% 0 0;
}
.nav > li > a{
    color: #fff;
    font-size: 18px;
    height: 169px;
    padding-top: 30px;
}
.nav > li:last-child{
    margin: 0;
}
.nav > li > a:hover, .nav > li > a:focus{
    transition: all 0.5s ease;
    background-color: transparent;
}
.nav > li > a:hover, .nav > li > a:focus{
    padding-top: 45px;
}
.nav > li > a > span{
    line-height: 90px;
    display: block;
    vertical-align: middle
}
.nav > li > a > span img{
    margin-bottom: 20px;
}

/*.nav > li{
    text-align: center;
    margin: 0 9px 0 0;
}
.nav > li > a{
    color: #fff;
    font-size: 18px;
    width: 187px;
    height: 191px;
    padding-top: 60px;
}
.nav > li:last-child{
    margin: 0;
}
.nav > li > a > span{
    width: 157px;
    height: 90px;
    display: table-cell;
    vertical-align: middle
}
.nav > li > a > span img{
    margin-bottom: 20px;
}
.nav > li.yellow{background-color: #FEAC1A; }
.nav > li.cyan{background-color: #10CCA6; }
.nav > li.blue{background-color: #02B8E0; }
.nav > li > a:hover, .nav > li > a:focus{
    background-color: transparent;
}*/

#slider{
    line-height: 16px;
}

.services, .feedback-form{
    padding-top: 16px;
}
.services{
    padding-left: 0;
    padding-right: 0;

}
.feedback-form{

}
.girl img{
    width: 100%;
    height: auto;
}
.girl p{
    color: #008DD2;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}


.red{background-color: #BB1D48;}
.gray{background-color: #44616F;}
.cyan{background-color: #10CCA6;}
.yellow{background-color: #FEAC1A;}
.blue{background-color: #02B8E0;}
.dark-blue{background-color: #375a67;}

.d{
    position: relative;
}
.d:before{
    content: "";
    display: block;
    padding-top: 81%; 	/* initial ratio of 1:1*/
}
.d1{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.service{
/*    color: #fff;
    text-align: center;*/
    color: #fff;
    text-align: center;
    width: 47.6%;

    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0 4% 4% 4%;
/*    min-height: 196px;
    *//*float: left;*//*
    display: inline-block;
    overflow: hidden;
    margin: 0 2% 2% 2%;
    padding-top: 5%;*/
}
.service:before{
    content: "";
    display: block;
    padding-top: 100%; 	/* initial ratio of 1:1*/
}
.service-wrap{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 60%;
    margin: auto;

}
.inner #main-content .service{
    width: 72%;
    margin-left: 0;
    margin-right: 0;
}
.alone{
    height: auto;
}
.alone img{
    width: auto;
    height: 100%;
}
.services .service:nth-child(1n){
    margin-left: 0;
}
.services .service:nth-child(2n){
    margin-right: 0;
}
.cc{
    width: 100%;
    height: 100%;
    display: table;
}
.cc2{
    display: table-cell;
    vertical-align: middle;
}
.cc2 > div{
    line-height: 102px;
    vertical-align: middle;
}
.service2{
    padding-left: 0;
    padding-right: 0;
    /*margin-right: 2%;*/
    overflow: hidden;
}
.service2:last-child{
    margin: 0;
    padding-left: 2%;
}
.service2 img{
    width: auto;
    height: 100%;
}

footer{

}
footer h4{
    text-transform: uppercase;
}
footer .services{
    border: 0 none;
    padding: 0;
}

.fcontact .service{
    width: 100%;
    min-height: 191px;
    margin: 0;
    padding-top: 10px;
}
.fcontact .service::before{
    padding-top: 50%;
}
.fcontact .service-wrap{
    padding-top: 30px;
}
.social{
    text-align: center;
    padding-top: 17%;
}
.social img{
    width: 45px;
    height: auto;
    margin: 0 5px;
}


@media screen and (max-width: 767px) {
    header{
        text-align: center;
    }
    .logo{
        float: none;
        margin: 0 0 1em 0;
    }
    .girl p{
        text-align: center;
    }

    .fcontact .service::before{
        padding-top: 10%;
    }
    .social{
        padding-top: 10px;
        padding-bottom: 20px;
    }


}

@media screen and (max-width: 991px) {
    .logo{
        height: 120px;
    }
    .logo h1{padding: 0}
    #navigation{
        padding-top: 15px;
        margin-left: -15px;
    }

    .nav > li{
        width: 30.5444%;
        text-align: center;
        margin: 0 4% 0 0;
    }

    .d:before{
        content: "";
        display: block;
        padding-top: 0; 	/* initial ratio of 1:1*/
    }
    .d1{
        position:  inherit;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    footer .service{
        width: 100%;
    }
    footer .service::before{
        padding-top: 50%;
    }
}
@media screen and (max-width: 767px) {
    header{
        text-align: center;
    }
    header .btn{
        float: none;
    }
    .logo{
        height: 160px;
    }

    .navigation{
        height: auto;
        padding-bottom: 15px;
    }
    footer .service{
        width: 100%;
    }
    .nav > li{width: 100%}
    .nav-pills > li + li{
        margin: 0;
    }
    .inner #main-content .service{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}
@media screen and (max-width: 370px){
    .inner #main-content .service{
        width: 100%;
        min-height: 196px;
    }
}


/*@media (max-width:990px){
    .service{
        min-height: 363px;
        padding-top: 2.5%;
    }
    .service > div{
        margin-bottom: 5%;
    }
}
@media (max-width:990px){

}*/




/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 100%;
    height: 102px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}